body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #e5e7eb;
    background-color: #1f2937;
}
ul{
    list-style: none;

}
img{
    max-width: 300px;
    max-height: 300px;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
button{
    color: white;
    background-color: #3882f6;
}
.header{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.links{
    display: flex;
    gap: 16px;
}
.image{
    display: flex;
    gap: 16px;
    padding: 0px 300px;
}
.text{
    text-align: left;
}
.title{
    color: black;
    font-size: 32px;
    font-weight: bold;
    background-color: white;
    padding: 32px 0px;
}
.information{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding: 20px 300px;
    gap: 32px;
}
.info{
    max-width: 200px;
}
.quote{
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

}
blockquote{
    font-weight: lighter;
    font-size: 24px;
    font-style: italic;
    max-width: 800px;
}


