body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #e5e7eb;
    background-color: #1f2937;
}

ul {
    list-style: none;

}

img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

button {
    color: white;
    background-color: #3882f6;
    border: #e5e7eb;
    border-radius: 4px;
    padding: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 16px;
}

.image {
    display: flex;
    gap: 16px;
    padding: 0px 300px;
    gap: 100px;
}

.text {
    text-align: left;
}

.title {
    color: black;
    font-size: 32px;
    font-weight: bold;
    background-color: white;
    padding: 32px 0px;
}

.information {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding: 20px 300px;
    gap: 32px;

}

.info {
    max-width: 200px;
}

.information img {
    gap: 16px;
}

.information img {
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.quote {
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

}

blockquote {
    font-weight: lighter;
    font-size: 24px;
    font-style: italic;
    max-width: 800px;
}

.call {
    background-color: white;
    color: white;
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #3882f6;
    padding: 52px;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px;
    gap: 16px;
}

.text-box {
    text-align: left;
    max-width: 400px;
    font-size: 24px;
}

footer {
    padding: 16px;
}